/* Add a container for the content */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
  margin-left: 350px;
  box-sizing: border-box;
  border: 2px solid rgb(110, 86, 227);
  border-radius: 10px;
  padding: 20px;
  background-color: #f5f5f5;
  width: 70%;
}
h2{
  margin-left: 400px;
  margin-bottom: 40px;
  font-weight: 600;
  font-size: 30px;
  font-family:  sans-serif;
  color: #60127c;
  text-decoration:dotted blueviolet ;
}

/* Style the sections */
section {
  width: 90%; /* Adjust the width as needed */
  margin: 20px; /* Add some spacing around the section */
  margin-bottom: 100px;
  border: 2px solid #d28bec;
  border-radius: 10px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Style the table */
table {
  width: 80%;
  border-collapse: collapse;
}

th, td {
  padding: 12px;
  border-bottom: 1px solid #d28bec;
}

th {
  background-color: #dcbbe7;
}

form {
  padding: 40px;
  line-height: 30px;
  align-items: inherit;
  box-sizing: border-box;
  border: 2px solid #d28bec;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 18px;
  font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #fff;
}



input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="submit"] {
  padding: 10px 20px;
  margin-left: 360px;
  margin-top: 40px;
  background-color: #6e56e3;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

th {
  background-color: #dcbbe7;
  font-weight: bold;
}

.btn-delete{
  padding: 6px 12px;
  background-color: #cb1e1e;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.btn-edit {
  padding: 6px 12px;
  background-color: #318766;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-delete:hover,
.btn-edit:hover {
  background-color: #e2e0ed;
}
