/* Global styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #e46a6a;
    color: #fff;
    padding: 1px;
    text-align: center;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
  }
  
  nav li {
    float: left;
  }
  
  nav li a {
    display: block;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  nav li a:hover {
    background-color: #ddd;
  }
  
  main {
    margin: 20px;
  }
  
  section {
    border: 1px solid #ddd;
    padding: 20px;
  }
  
  form label {
    display: block;
    margin: 10px 0;
  }
  
  body {
    background-color: rgb(255, 255, 255);
  }
  
  /* CSS for progress bar */
  .progress {
    height: 20px;
    background-color: #f2f2f2;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .progress-bar {
    height: 100%;
    color: #f9f6f6;
    text-align: center;
    line-height: 30px;
    font-weight: bold;
    background-image: linear-gradient(to right, #8b33c5, #15a0e1);
  }
  
  /* CSS for donate button interaction */
  .btn {
    transition: background-color 0.3s ease;
  }
  
  .btn:hover {
    background-color: #15a0e1;
    color: #fff;
  }
  
  /* Card layout */
  .donation-card-layout {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .donation-card-layout .card {
    width: calc(33.33% - 20px);
    flex: 1 0 calc(33.33% - 20px);
  }
  
  .donation-card-image {
    width: 100%;
  }
  
  /* Media queries for responsive layout */
  @media (max-width: 992px) {
    .donation-card-layout .card {
      width: calc(50% - 20px);
      flex: 1 0 calc(50% - 20px);
    }
  }
  
  @media (max-width: 576px) {
    .donation-card-layout .card {
      width: 100%;
      flex: 1 0 100%;
    }
  }
  