/* Global styles */
body {
    /* font-family: Arial, sans-serif; */
    margin: 0;
    padding: 0;
  }
  
  .sponsorship-banner {
    background-color: rgba(153, 72, 252, 0.98);
    color: #ffffff;
    font-weight: 1000;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
    outline: none;
  }




   .card {
    margin-bottom: 10px;
    padding: 10px;
    height: 100%;
}




/* For the button hover effect */
/* .container-1{
  color: red;
  background-color: none;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 50px;
  margin-right: 50px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex ;
  justify-content: flex-start;
  flex-direction: row;
    
}
.butn{
  color: red;
  background-color: red;
  padding: 60px 20px;
  font-size: larger;
  font-family:sans-serif ; 
  cursor: pointer;
  
  position: relative;
  margin-right: 10px;
  
} */


.container-1 {
  text-align: right;
}

.buttons {
  display: inline-block;
}

.butn {
  background-color: blue;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 50px;
  cursor: pointer;
  transition-duration: 0.4s;
  border-radius: 50px;
}

.butn:hover {
  background-color: blueviolet;
}


/* .btn1,.btn2,.btn3{
  color: #3498db;
}

.btn1:hover,.btn2:hover,.btn3:hover{
  color: yellow;
} */

/* .butn::before{
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0%;
  background: green;
  z-index: -1;
  transition: 0.8s;
} */

/* .btn1::before,.btn2::before,.btn3::before{
  top: 0;
  border-radius: 0 0 50% 50%;
}


.btn1:hover::before,.btn2:hover::before,.btn3:hover::before{
  background-color: #ffd700;
  height: 180%;
} */


  footer {
    
    color: rgb(255, 255, 255);;
    position: fixed;
    margin: 0%;
    bottom: 0;
    left: 0;
    text-align: center;
    width: 100%;
  }

  